<template>
  <div class="char-attrs">
    <template v-if="allStatCats.length > 0">
      <div
        class="char-attr"
        v-for="item in allStatCats[currentIndex]"
        :key="item.Attribute.Name"
      >
        <div class="char-attr__label">{{ item.Attribute.Name }}:</div>
        <div class="char-attr__value">{{ item.Value }}</div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    allStatCats: {
      required: true,
      type: Array
    },
    currentIndex: {
      required: true,
      type: Number
    }
  }
};
</script>

<style scoped>
/*** Individual Stat Attributes
******************************* */
.char-attrs {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: start;
  grid-gap: 0.5rem;
}
.char-attr {
  line-height: 1;
}
.char-attr__label {
  font-size: 0.75rem;
}
.char-attr__value {
  font-weight: 700;
}
</style>
