<template>
  <div class="char-stats-inner">
    <section
      class="char-stat"
      v-for="(cat, index) in statCategories"
      :key="index"
    >
      <char-stats-title :cat="cat" />
      <char-stats-attrs :allStatCats="allStatCats" :currentIndex="index" />
    </section>
  </div>
</template>

<script>
import { statCats } from "~/mixins/helpers.js";
import CharStatsTitle from "~/components/char/stats/CharStatsTitle";
import CharStatsAttrs from "~/components/char/stats/CharStatsAttrs";
export default {
  mixins: [statCats],
  components: {
    CharStatsAttrs,
    CharStatsTitle
  },
  props: {
    gearsetAttributes: {
      type: Array,
      required: true
    }
  },
  computed: {
    allStatCats() {
      return this.statCategories.map(x => {
        const charStats = [];
        x.ids.forEach(catAttr => {
          const stat = this.gearsetAttributes.filter(
            gearsetAttribute => gearsetAttribute.Attribute.ID === catAttr
          );
          charStats.push(...stat);
        });
        return charStats;
      });
    }
  }
};
</script>

<style scoped>
.char-stats-inner {
  min-width: 700px;
}
.char-stat {
  display: grid;
  grid-template-columns: 15ch 1fr;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px dotted var(--mid1);
  transition: 0.2s ease;
}
.char-stat:hover {
  background: var(--light1);
}

@media screen and (min-width: 1600px) {
  .char-stats-inner {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 3rem;
  }
  .char-stat {
    grid-template-columns: 15ch auto;
  }
}
</style>
