<template>
  <h4 class="char-stat-title">
    <g-image
      class="char-stat-title__icon"
      width="32"
      :src="require('!!assets-loader!~/images/char/stat-' + cat.image)"
    />
    <span class="char-stat-title__value">{{ cat.name }}</span>
  </h4>
</template>

<script>
export default {
  props: {
    cat: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.char-stat-title {
  display: flex;
  align-items: center;
  margin: 0;
}
</style>
