<template>
  <main class="char">
    <evrl-navi />
    <figure class="char__img-wrap">
      <!-- <img class="char__img" :src="'https://res.cloudinary.com/chrisace/image/upload/everlasting/portraits/'+removeDomain(info.portrait)" :alt="info.name"> -->
      <!-- <img class="char__img" :src="`https://res.cloudinary.com/chrisace/image/fetch/${info.portrait}`" :alt="info.name"> -->
      <img class="char__img" :src="`${info.portrait}`" :alt="info.name">
    </figure>
    
    <div class="char__info">
      <h1 class="char__name">{{ info.name }}</h1>
      <div v-if="info.title" class="char__title">{{ info.title }}</div>
      <div class="char__level">Lv. {{ info.level }} {{ info.class }}</div>

      <div class="char__sub-info">
        <div class="char__nameday">Nameday: {{ info.nameday }}</div>
        <div class="char__town">Town: {{ info.town.Name }}</div>
        <div class="char__race">Race: {{ info.race }} - {{info.tribe }}</div>
        <div v-if="info.gc" class="char__gc">Grand Company: {{ info.gc }}</div>
        <div class="char__bio">{{ info.bio }}</div>
      </div>
      
    </div>
    
  </main>
</template>

<script>
import Navi from '~/components/Navi.vue'
export default {
  props: {
    info: Object,
  },
  data() {
    return {
      url: ''
    }
  },
  components: {
    evrlNavi: Navi,
  },
  methods: {
    removeDomain(url = ''){
      const file = url.split('https://img2.finalfantasyxiv.com/f/')
      return file[1]
    }
  },
}
</script>

<style scoped>

.char__name {
  font-size: 2rem;
  color: var(--white);
  margin-top: -1.5rem;
  text-align: center;
  /* background: var(--dark2);
  padding: 1rem 1rem 0; */
  border-radius: 5px;
  margin-bottom: 0;

  margin-top: -2rem;
  text-shadow: 0 0 13px rgba(0,0,0,0.8);
}
.char {
  position: sticky;
  top: 0;
  align-self: start;
  color: var(--white);
  
}
.char__img-wrap {
  position: relative;
  width: 100%;
  
}
.char__img-wrap::before {
  content:'';
  padding-top: calc((873 / 640 ) * 100%);
  display: block;
  background: #CCC;
  width: 100%;
  pointer-events:none;
}
.char__img {
  width: 100%;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.char__info {
  padding: 1rem;
  text-align: left;
  position: relative;
}
.char__sub-info {
  font-size: .85rem;
  color: var(--light3);
}
.char__level {
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}
.char__img-wrap::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5), transparent, transparent, transparent);
  pointer-events: none;
}

@media screen and (min-width: 992px) {
  .char__img-wrap {
    position: relative;
    width: calc(100% + 2.5rem);
    transform: rotate(-4deg) translate(-1.1rem, 0);
    margin-top: -.75rem;    
  }
  .char__img-wrap::before {
    /* background: var(--white);
    background: none; */
    border-radius: 0 30px 30px 0;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
  }
  .char__img-wrap::after {
    border-radius: 0 30px 30px 0;
  }
  .char__img {
    border-radius: 0 30px 30px 0;
  }
  .char__sub-info {
    padding: 1rem;
  }
}

</style>