<template>
  <div class="char-stats-wrap">
    <h2>{{ mainTitle }}</h2>
    <div class="char-stats">
      <char-stat :gearsetAttributes="gearsetAttributes" />
    </div>
  </div>
</template>

<script>
import CharStat from "~/components/char/stats/CharStat";
export default {
  components: {
    CharStat
  },
  props: {
    gearsetAttributes: {
      type: Array,
      required: true
    },
    mainTitle: {
      default: "Character Stats",
      type: String
    }
  }
};
</script>

<style scoped>
/*** General
******************************* */
.char-stats {
  overflow-x: auto;
}
</style>
