<template>
  <char-mounts-base :baseData="baseData" :mainTitle="mainTitle" :mounts="mounts"  />
</template>

<script>
import CharMountsBase from '~/components/char/mounts/CharMountsBase'
import { mounts } from "~/mixins/mounts.js";
export default {
  mixins: [mounts],
  components: {
    CharMountsBase,
  },
  computed: {
    baseData() {
      return this.$static.mnts.edges[0].node.minions
    },
  },
}
</script>

<static-query>
query {
  mnts:allMinions {
    edges {
      node {
        minions {
          Name
          Icon
          IconSmall
          ID
        }
      }
    }
  }
}
</static-query>