<template>
  <section class="gear-equipment">
    <h2 class="gear-equipment__title">{{ mainTitle }}</h2>
    <template v-for="(gear, name, index) in gearData" >
      <div class="gear" v-if=" (gear != null)" :key="index">
        <div class="gear__items">
          <char-gear-icon class="gear__icon" :icon="gear.Item.Icon" />
          <char-gear-info class="gear__info" :name="name" :gearInfo="gear.Item" />
          <char-gear-stats class="gear__stats" v-if="name !== 'SoulCrystal'" :gearStats2="gearStats2" :name="name" :gearID="gear.Item.ID" />
        </div>
      </div>
    </template>
  </section>
</template>

<script>
import CharGearStats from '~/components/char/gear/CharGearStats'
import CharGearInfo from '~/components/char/gear/CharGearInfo'
import CharGearIcon from '~/components/char/gear/CharGearIcon'
import BaseLoader from '~/components/base/BaseLoader'
export default {
  components: {
    BaseLoader,
    CharGearIcon,
    CharGearInfo,
    CharGearStats,
  },
  props: {
    gearData: {
      type: Object,
      required: true
    },
    mainTitle: {
      type: String,
      default: 'Gear'
    },
  },
  data() {
    return {
      gearStats: [],
      ids: [],
    }
  },
  computed: {
    gearStats2() {
      return this.gearStats.map(x=> {
        const stats = Object.values(x[1])
        return [x[0], stats[0],Math.floor(Math.random() * 9999)]
      })
    },
  },
  methods: {

    initGearStats() {
      // Retrieve and generate new array of the Gear name and ID equipped
      // If gear ID is in local storage, get data from there instead.
      for(const [name, value] of Object.entries(this.gearData)) {
        try {
          if ((value !== null) && (name !== 'SoulCrystal')) {
            const id = value.Item.ID
            if(localStorage.getItem(id) !== null) {
              const gearData = JSON.parse(localStorage.getItem(id))
              this.gearStats.push([id, gearData])
            } else {
              this.ids.push([id,name])
            }
          }
        } catch(err) {
          console.log(err)
          return ''
        }
      }
    },
    async getStats2() {
      this.initGearStats()

      // Generate Promise.all to batch retrieve stat data from xivapi
      if (this.ids.length > 0) {
        const promises = this.ids.map(id => fetch(`https://xivapi.com/Item/${id[0]}`,{mode: 'cors'}).then(r => r.json()).catch( err => console.err(err)))
        const names = this.ids.map(id => id[1])
        const gearStats = await Promise.all(promises)
        gearStats.forEach((data, index) => {
          const statValues = {[names[index]]:data.Stats}
          localStorage.setItem(this.ids[index][0], JSON.stringify(statValues));
          this.gearStats.push([this.ids[index][0], statValues])
        })
      }
    }
  },
  created() {
    this.getStats2() 
  },
}
</script>

<style scoped>
  .gear {
    padding: .5rem ;
    border-bottom: 1px dotted var(--light3);
    transition: 0.2s ease;
  }
  .gear:hover {
    background: var(--light2);
  }
  .gear__items {
    display: grid;
    grid-template-columns: auto 1fr;  
    grid-gap: .5rem;    
  }
  .gear__icon {
    align-self: center;
  }
  .gear__stats {
    grid-column: 1/-1;
  }
  
  @media screen and (min-width: 992px) {
    .gear__items {
      grid-template-columns: auto 40ch 1fr;
    }
    .gear__stats {
      grid-column: unset;
    }
  }
</style>