<template>
  <section class="char-jobs">
    <h2 class="char-jobs__title">{{ mainTitle }}</h2>
    <div
      class="jobs"
      :class="'jobs--' + underscore(job.name)"
      v-for="job in charJobs"
      :key="job.name"
    >
      <char-jobs-groups :jobIds="job.ids" />
    </div>
  </section>
</template>

<script>
import CharJobsGroups from "~/components/char/jobs/CharJobsGroups";
import { helpers, jobIds } from "~/mixins/helpers.js";
export default {
  mixins: [helpers, jobIds],
  components: {
    CharJobsGroups
  },
  props: {
    classJobs: {
      type: Array,
      required: true
    },
    mainTitle: {
      type: String,
      default: "Classes/Jobs"
    }
  },

  computed: {
    charJobs() {
      const vals = Object.values(this.jobIds);
      const charJobsArr = [];
      vals.forEach(val => {
        const newObj = {};
        newObj.name = val.name;
        newObj.ids = [];
        const ids = Object.values(val.ids);
        ids.forEach(item => {
          const [jobCat, jobIds] = Object.values(item);
          const boo = {};
          boo.name = jobCat;
          boo.jobs = [];
          for (const jobId of jobIds) {
            this.classJobs.forEach(x => {
              if (x.Class.ID == jobId) {
                boo.jobs.push(x);
              }
            });
          }
          newObj.ids.push(boo);
        });
        charJobsArr.push(newObj);
      });
      return charJobsArr;
    }
  }
};
</script>

<style scoped>
.char-jobs__title {
  margin-bottom: -1rem;
}

@media screen and (min-width: 992px) {
  .char-jobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "tit tit"
      "tnk dps "
      "hlr dps "
      "crf crf";
    align-content: start;
    justify-content: start;
    grid-gap: 2rem;
  }
  .jobs--tank {
    grid-area: tnk;
  }
  .jobs--healer {
    grid-area: hlr;
  }
  .jobs--dps {
    grid-area: dps;
  }
  .jobs--craft {
    grid-area: crf;
  }
  .char-jobs__title {
    grid-area: tit;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .char-jobs {
    grid-template-columns: repeat(auto-fit, minmax(1px, auto));
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "tit tit tit"
      "tnk dps crf"
      "hlr dps crf";
  }
}

@media screen and (min-width: 1601px) {
  .char-jobs {
    grid-template-areas:
      "tit tit"
      "tnk hlr "
      "dps crf "
      "dps crf";
  }
}
</style>
