<template>
  <transition name="fade" mode="out-in" appear>
    <Layout>
      <div class="char-wrap">
        <div class="left">
          <char-general :info="generalInfo" />
        </div>
        <div class="right">
          <char-gear class="char-gear" :gearData="gear" gearStats="gearStats" mainTitle="Character Gear" />
          <char-stats class="char-stats" :gearsetAttributes="gearsetAttributes" :mainTitle="`Character Stats`"/>
          <char-jobs class="char-jobs" :classJobs="char.ClassJobs" />
          <char-mounts v-if="hasMounts" class="char-mounts" :big="true" :mounts="$page.charData.mounts" mainTitle="Mounts" :baseData="allMounts" />
          <char-mounts v-if="hasMinions" class="char-minions" :big="false" :mounts="$page.charData.minions" mainTitle="Minions" :baseData="allMinions" />
        </div>
      </div>
    </Layout>
  </transition>
</template>

<page-query>
query Char ($path: String!) {
  charData: char (path: $path) {
    minions {
      Icon
      Name
    }
    mounts {
      Icon
      Name
    }
    character {
      ID
      Portrait
      Name
      Avatar
      Bio
      Server
      GuardianDeity {
        Icon
        Name
      }
      Nameday
      ParseDate
      Race {
        Name
      }
      Title {
        Name
        Icon
      }
      Town {
        Icon
        Name
      }
      Tribe {
        Name
      }
      GrandCompany {
        Company {
          Name
        }
      }
      ActiveClassJob {
        Name
        Level
        ExpLevel
        ExpLevelMax
        Class {
          Name
          Abbreviation
          ID
          Icon
        }
        Job {
          Name
          Abbreviation
          ID
          Icon
        }
      }
      GearSet {
        Gear {
          MainHand {
            Item {
              ClassJobCategory {
                ID
                Name
              }
              ID
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
          Head {
            Item {
              Name
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
            }
          }
            Body{
            Item {
              Name
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
            }
          }
          Waist {
            Item {
              Name
              ID
              Icon
              LevelEquip
              LevelItem
              ClassJobCategory {
                ID
                Name
              }
            }
          }
          Legs {
            Item {
              Name
              ID
              Icon
              LevelEquip
              LevelItem
              ClassJobCategory {
                ID
                Name
              }
            }
          }
          Feet {
            Item {
              Name
              ID
              Icon
              LevelEquip
              LevelItem
              ClassJobCategory {
                ID
                Name
              }
            }
          }
          OffHand {
            Item {
              ID
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
          Earrings {
            Item {
              ID
              Icon
              ClassJobCategory {
                ID
                Name
              }
              LevelEquip
              LevelItem
              Name
            }
          }
          Bracelets {
            Item {
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
              Name

            }
          }
          Necklace {
            Item {
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
          Ring1 {
            Item {
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
          Ring2 {
            Item {
              ID
              ClassJobCategory {
                ID
                Name
              }
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
          
          SoulCrystal {
            Item {
              ClassJobCategory{
                ID
                Name
              }
              ID
              Icon
              LevelEquip
              LevelItem
              Name
            }
          }
        }
        Attributes {
          Attribute {
            ID
            Name
          }
          Value
        }
      }
      ClassJobs {
        Name
        Level
        Class {
          Name
          Abbreviation
          ClassJobCategory {
            ID
            Name
          }
          ID
          Icon
          Name
          Url
        }
        ExpLevel
        ExpLevelMax
        ExpLevelTogo
        Job {
          Name
          Abbreviation
          ClassJobCategory {
            ID
            Name
          }
          ID
          Url
        }
        IsSpecialised
      }
    }

  }
}
</page-query>

<static-query>
query {
  allMounts {
    edges {
      node {
        mounts {
          Name
          Icon
          IconSmall
          ID
        }
      }
    }
  }
  allMinions {
    edges {
      node {
        minions {
          Name
          Icon
          IconSmall
          ID
        }
      }
    }
  }
}
</static-query>

<script>
import JobsList from "~/components/JobsList";
import CharStats from "~/components/char/CharStats";
import CharJobs from "~/components/char/CharJobs";
import CharGear from "~/components/char/CharGear";
import CharGeneral from "~/components/char/CharGeneral";
import CharMounts from "~/components/char/CharMounts";
import CharMinions from "~/components/char/CharMinions";
export default {
  metaInfo() {
    return {
      title: this.char.Name,
      meta: [
        {
          name: "description",
          content: `A page about ${this.char.Name} in the Everlasting FC`
        },
        { property: "og:title", content: this.char.Name },
        { property: "og:type", content: "profile" },
        { property: "og:profile:username", content: this.char.Name },
        {
          property: "og:url",
          content: `https://everlastingfc.now.sh/char/${this.char.ID}`
        },
        { property: "og:image", content: `${this.char.Avatar}` },
        {
          property: "og:description",
          content: `A page about ${this.char.Name} in the Everlasting FC`
        }
      ],
      link: [
        {
          rel: "canonical",
          href: `https://everlastingfc.now.sh/char/${this.char.ID}`
        }
      ]
    };
  },
  components: {
    JobsList,
    CharStats,
    CharJobs,
    CharGear,
    CharGeneral,
    CharMounts,
    CharMinions
  },
  computed: {
    char() {
      return this.$page.charData.character
    },
    gearsetAttributes() {
      return this.char.GearSet.Attributes
    },
    gear() {
      return this.char.GearSet.Gear
    },
    generalInfo() {
      return {
        ID: this.char.ID,
        portrait: this.char.Portrait,
        name: this.char.Name,
        avatar: this.char.Avatar,
        bio: this.char.Bio,
        server: this.char.Server,
        diety: this.char.GuardienDeity,
        nameday: this.char.Nameday,
        parseDate: this.char.ParseDate,
        race: this.char.Race.Name,
        title: this.char.title,
        town: this.char.Town,
        tribe: this.char.Tribe.Name,
        gc:
          this.char.GrandCompany.Company !== null
            ? this.char.GrandCompany.Company.Name
            : "none",
        level: this.char.ActiveClassJob.Level,
        class:
          this.char.ActiveClassJob.Level <= 30
            ? this.char.ActiveClassJob.Class.Name
            : this.char.ActiveClassJob.Job.Name
      };
    },
    hasMounts() {
      return this.$page.charData.mounts.length > 0
    },
    hasMinions() {
      return this.$page.charData.minions.length > 0
    },
    allMinions() {
      return this.$static.allMinions.edges[0].node.minions
    },
    allMounts() {
      return this.$static.allMounts.edges[0].node.mounts
    },
  },
  filters: {
    removeUnderscores: function(value) {
      if (!value) return "";
      value = value.replace(/_/g, " ");
      return value;
    }
  }
};
</script>

<style >
.char-wrap {
  background: none;
}
.left {
  background: var(--dark2);
}
.right {
  padding: 1rem;
  background: var(--white);
}

@media screen and (min-width: 992px) {
  .right h2 {
    margin-top: 6rem;
  }
  .char-wrap {
    display: grid;
    grid-template-columns: calc(350px - 2rem) 1fr;
  }
  .right {
    padding: 1rem 4rem;
    border-radius: 0px 0px 0px 30px;
  }
}

@media screen and (min-width: 1600px) {
  .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 3rem;
    grid-template-areas:
      "gear jobs"
      "stats stats"
      "mounts mounts"
      "minions minions";
  }
  .char-mounts {
    grid-area: mounts;
  }
  .char-minions {
    grid-area: minions;
  }
  .char-gear {
    grid-area: gear;
  }
  .char-stats {
    grid-area: stats;
  }
  .char-jobs {
    grid-area: jobs;
  }
}
</style>