<template>
  <div class="job-lvl">
    <span v-if="level === maxLevel" class="job-lvl__max">{{ maxLabel }}</span>
    <template v-else>
      <span class="job-lvl__label">{{ levelLabel }}</span>
      <span class="job-lvl__value">{{ level }}</span>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    level: {
      required: true,
      type: Number
    }
  },
  data() {
    return {
      maxLevel: 80,
      maxLabel: "Max",
      levelLabel: "Lv:"
    };
  }
};
</script>

<style scoped>
.job-lvl__max {
  font-weight: 700;
  color: var(--alt2);
}
</style>
