<template>
  <div class="job-group-wrap">
    <div class="job-group" v-for="(id, index) in jobIds" :key="index">
      <char-jobs-group-title class="job-group__title" :name="id.name" />
      <div
        class="job"
        v-for="(item, index) in id.jobs"
        :key="index"
        :class="'job--' + underscore(item.Job.Abbreviation)"
      >
        <charJobsName :itemInfo="item" />
        <charJobsLevel :level="item.Level" />
      </div>
    </div>
  </div>
</template>

<script>
import CharJobsGroupTitle from "~/components/char/jobs/CharJobsGroupTitle";
import CharJobsName from "~/components/char/jobs/CharJobsName";
import CharJobsLevel from "~/components/char/jobs/CharJobsLevel";
import { helpers } from "~/mixins/helpers.js";
export default {
  mixins: [helpers],
  components: {
    CharJobsGroupTitle,
    CharJobsName,
    CharJobsLevel
  },
  props: {
    jobIds: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
/* bandaid */
.jobs--healer .job--acn,
.jobs--healer .job--smn,
.jobs--dps .job--sch {
  display: none;
}
.job {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px dotted var(--light3);
}
</style>
