<template>
  <div :class="`job-name job-name--${classOrJobType(itemInfo.Level)}`">
    <g-image
      class="jobs-name__icon"
      aria-hidden="true"
      width="24"
      :src="classOrJobIcon(itemInfo)"
    />
    &nbsp;
    <span class="job-name__value">{{ classOrJobName(itemInfo) }}</span>
  </div>
</template>

<script>
import { helpers } from "~/mixins/helpers.js";
export default {
  mixins: [helpers],
  props: {
    itemInfo: {
      type: Object,
      required: true
    }
  },
  methods: {
    classOrJobName(item) {
      return item.level <= 30 ? item.Class.Name : item.Job.Name;
    },
    classOrJobType(level) {
      return level <= 30 ? "class" : "job";
    },
    classOrJobIcon(item) {
      const role =
        item.level <= 30
          ? this.underscore(item.Class.Abbreviation)
          : this.underscore(item.Job.Abbreviation);
      return require("!!assets-loader!~/images/char/jobs/small/" +
        role +
        ".png");
    }
  }
};
</script>

<style scoped>
.job-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.job-name {
  width: 18ch;
}
.job-name .job__label {
  width: 7ch;
  display: inline-block;
}
.job-name__value {
  text-transform: capitalize;
}
</style>
