<template>
  <h4 class="job-group-title">
    <g-image
      aria-hidden="true"
      class="job-group-title__img"
      :src="
        require('!!assets-loader!~/images/char/icon-' +
          underscore(name) +
          '.png')
      "
    />
    <span class="job-group-title__value">{{ name }}</span>
  </h4>
</template>

<script>
import { helpers } from "~/mixins/helpers.js";
export default {
  mixins: [helpers],
  props: {
    name: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
.job-group-title {
  display: flex;
  align-items: center;
}
</style>
