<template>
  <button @click="getMountInfo(charMount)" class="mount__btn">
    <slot />        
  </button>
</template>

<script>
export default {
  props: {
    charMount: {
      type: Object,
      required: true
    }
  },
  methods: {
    getMountInfo(info) {
      this.$emit('update:bigObj', info)
    }
  },
}
</script>

<style scoped>
.mount__btn {
  text-align: left;
  background: var(--light2);
  border: 1px solid var(--light3);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}
</style>