<template>
  <figure class="mount" >
    <img aria-hidden="true" width="40" height="40" loading="lazy" class="mount__img" :src="icon"  />
    <figcaption class="mount__name">{{charMount.Name}}</figcaption>
  </figure>
</template>

<script>
export default {
  props: {
    charMount: {
      type: Object,
      required: true
    }
  },
  computed: {
    icon() {
      return this.cloudinaryFetchUrl+'https://xivapi.com' +this.charMount.IconSmall
    }
  },
  data() {
    return {
      cloudinaryFetchUrl: 'https://res.cloudinary.com/chrisace/image/fetch/'
    }
  },
}
</script>

<style scoped>
.mount {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: .25rem;
  font-size: 1rem;
  color: var(--dark2)
}
.mount__name {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>