<template>
  <figure aria-hidden="true" class="mounts__big-wrap">
    <div class="mounts__big-info">
      <img class="mounts__big" :src="`${cloudinaryFetchUrl}https://xivapi.com${selectedMount.Icon}`" :alt="selectedMount.Name">
      <figcaption class="mounts__big-name"><h4>{{selectedMount.Name}}</h4></figcaption>
    </div>
  </figure>
</template>

<script>
export default {
  props: {
    selectedMount: {
      type: [String,Object],
      required: true,
    }
  },
  data() {
    return {
      cloudinaryFetchUrl: 'https://res.cloudinary.com/chrisace/image/fetch/',
    }
  },
}
</script>

<style scoped>
.mounts__big-wrap {
  text-align: center;
  text-transform: capitalize;

  position: sticky;
  top:0rem;
  background: var(--white);
  padding: 1rem;
}
@media screen and (min-width: 992px) {
  .mounts__big-wrap {
    grid-area: big;
    padding: 0;
    position: unset;
    top: unset;
  }
  .mounts__big-info {
    position: sticky;
    top:1rem;
  }
}
</style>