<template>
  <div class="char-mounts-wrap">
    <h2 class="char-mounts__title">{{mainTitle}}</h2>
    <char-mounts-big v-if="big" :selectedMount="selectedMount" />
    <template v-if="charMounts !== undefined">
      <div class="char-mounts" >
        <div class="char-mount-wrap" v-for="(charMount, index) in charMounts" :key="index">
          <template v-if="charMount !== undefined">
            <char-mount-btn v-if="big" :charMount="charMount" v-bind:bigObj.sync="selectedMount">
              <char-mount :charMount="charMount" />
            </char-mount-btn>
            <char-mount v-else :charMount="charMount" />
          </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import CharMountsBig from '~/components/char/mounts/CharMountsBig'
import CharMountBtn from '~/components/char/mounts/CharMountBtn'
import CharMount from '~/components/char/mounts/CharMount'
export default {
  components: {
    CharMount,
    CharMountBtn,
    CharMountsBig,
  },
  props: {
    baseData: {
      type: Array,
      required: true
    },
    mainTitle: {
      type: String,
      default: 'Mounts'
    },
    mounts: {
      type: Array,
      required: true
    },
    big: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      cloudinaryFetchUrl: 'https://res.cloudinary.com/chrisace/image/fetch/',
      selectedMount:'',
    }
  },
  computed: {
    ff14Mounts() {
      return this.baseData
    },
    charMounts() {
      return this.mounts.map(charMount => {
        return this.ff14Mounts.find(sysMount => sysMount.Name.toLowerCase() === charMount.Name.toLowerCase())
      })
    }
  },
  methods: {
    getMountInfo(info) {
      this.selectedMount = info
    }
  },
  created() {
    this.selectedMount = this.charMounts[0]
  },
}
</script>

<style scoped>
.char-mounts {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
  grid-gap: .5rem;
  align-content: start;
}
.char-mount-wrap {
  line-height: 1;
}

@media screen and (min-width: 992px) {
  .char-mounts-wrap {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "tit tit"
    "mnt big";
    grid-gap: 1rem;
    align-content: start;
  }
  .char-mounts__title {
    grid-area: tit
  }
  .char-mounts {
    grid-area: mnt;
  }
  
}
</style>