/*** General
******************************* */
:root {
  --alt1: #f8d185;
  --alt2: rgb(173, 136, 15);
  --primary: #ad352c;
  --orange1: rgb(185, 109, 22);
  --orange2: rgb(199, 65, 4);
  --red1: rgb(255, 32, 32);
  --dark1: #111;
  --dark2: #404040;
  --dark3: #333;
  --light1: #f4f4f4;
  --light2: #eee;
  --light3: #ccc;
  --mid1: #aaa;
  --mid2: #999;
  --mid3: #666;
  --white: #fff;
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
::selection {
  background: var(--primary);
  color: var(--white);
}
html {
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;

  color: var(--mid3);
  background: var(--dark2);
  transform: translate3d(0, 0, 0);
}
hr {
  border: 0;
  border-bottom: 1px solid var(--light3);
  padding: 0.5rem 0;
}

/*** Typography
******************************* */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.05em;
  color: var(--dark2);
  line-height: 1;
  margin: 1.5rem 0 1rem;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: calc(2rem + 8vw);
}
h2 {
  font-size: calc(1.5rem + 3vw);
}
h3 {
  font-size: calc(1.5rem + 1vw);
}
a {
  color: var(--primary);
  text-decoration: none;
}
ol,
ul {
  padding-left: 1rem;
}
p {
  margin: 0 0 1rem;
}
.btn {
  background: var(--dark3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--white);
  display: inline-block;
  transition: 0.1s ease;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background: var(--dark2);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.6);
}

/*** Imagery
******************************* */
.img {
  line-height: 0;
  margin: 0;
  max-width: 100%;
}
.img--rounded {
  border-radius: 5px;
}

/*** Animations
******************************* */
.fade-enter-active {
  transition: all 0.3s;
  transform: translate3d(0, 0, 0);
}

.fade-enter {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
}
.fade2-enter-active {
  transition: all 0.3s;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.fade2-enter {
  opacity: 0;
  transform: translate3d(0, -2rem, 0);
}

.lds-dual-ring {
  display: inline-block;
  /* width: 80px; */
  /* height: 80px; */
  /* transform: scale(0.25); */
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 3px solid var(--mid1);
  border-color: var(--mid1) transparent var(--mid1) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  /* transform: scale(0.25); */
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
