<template>
  <div class="gear-info">
    <small class="gear-info__cat">{{ name }}:</small>
    <h4 class="gear-info__name">{{gearInfo.Name}}</h4>
    <div class="gear-info__level">
      <div class="gear-info__level-item">
        <span class="gear-info__label">Item Lv: </span>
        <strong class="gear__value">{{gearInfo.LevelItem}}</strong>
      </div>
      <div class="gear-info__level-equip">
        <span class="gear-info__label">Required Lv: </span>
        <strong class="gear__value">{{gearInfo.LevelEquip}}</strong>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    gearInfo: {
      type: Object,
      required: true
    },
  }
}
</script>

<style scoped>
  .gear-info {
    align-items: start;
  }
  .gear-info__name-label {
    color: var(--mid2);
    font-weight: 400;
  }
  .gear-info__name {
    margin:0;
  }
  .gear-info__level{
    font-size: .85rem;
    display: flex;
  }
  .gear-info__level-equip {
    margin-left: 15px;
  }
</style>