<template>
  <!-- <div
    v-for="x in ring1Stats"
    :key="`${x[0]}`"
    :class="'gear__stat gear__stat--' + x[0]"
  >
    <span class="gear__stats-name">{{ x[0] }}: </span>
    <strong class="gear__stats-value">{{ x[1].NQ }}</strong>
  </div> -->
  <div
    :class="'gear__stat gear__stat--' + statName"
    v-for="(x, statName) in item[1]"
    :key="`${statName}_${item[2]}`"
  >
    <span class="gear__stats-name">{{ statName }}: </span>
    <strong class="gear__stats-value">{{ x.NQ }}</strong>
  </div>
</template>

<script>
export default {
  props: {
    arr: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
