<template>
  <figure class="gear-icon" :style="`height: ${height}px;width: ${width}px;`">
    <img aria-hidden="true" loading="lazy" :height="height" :width="width" class="gear-icon__img" :src="`${cloudinaryFetchUrl}https://xivapi.com${icon}`" />
  </figure>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: 'ineedadefault.png'
    },
    height: {
      type: Number,
      default: 40
    },
    width: {
      type: Number,
      default: 40
    },
  },
  data() {
    return {
      cloudinaryFetchUrl: 'https://res.cloudinary.com/chrisace/image/fetch/',
    }
  }
}
</script>
<style scoped>
.gear-icon {
  border-radius: 3px;
  background: var(--light2);
}
</style>