<template>
  <div class="gear-stats" >
    <template v-if=" (stats)">
      <div class="gear-stat" v-for="(stat, statName, index) in stats" :key="index">
        <span class="gear-stat__name">{{statName}}: </span>  
        <strong class="gear-stat__value">{{stat.NQ}}</strong>  
      </div> 
    </template>
    <div v-else class="gear-stat gear-stat--error">
      <base-loader />
    </div>
  </div>
</template>

<script>
import BaseLoader from "~/components/base/BaseLoader.vue";
export default {
  components: {
    BaseLoader
  },
  props: {
    gearStats2: {
      type: Array,
      required: true
    },
    name: {
      type: String,
    },
    gearID: {
      type: Number,
      required: true
    },
  },
  computed: {
    stats() {
      if (this.gearStats2.length > 0) {
        const match = this.gearStats2.find(stat => stat[0] === this.gearID)
        if (match.length > 0) {
          return match[1]
        } else {
          return false
        }
      }
      
    }
  }
  
};
</script>

<style scoped>
.gear-stats {
  padding-top: 5px;
  border-top: 1px dotted var(--light3);
  margin-top: 5px;
  display: grid;
  grid-template-columns: 18ch auto;
  grid-gap: 0 0.5rem;
  justify-content: start;
  font-size: 0.85rem;
  align-self: center;
}
.gear-stat {
  display: flex;
  align-items: center;
}
.gear-stat__name {
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

@media screen and (min-width: 992px) {
  .gear-stats {
    padding: 0;
    margin: 0;
    border: 0;
  }
}
</style>
