<template>
  <transition name="fade" mode="out-in" appear>
    <Layout>
      <evrl-hero />
      <evrl-welcome />
      <evrl-members />
    </Layout>
  </transition>
</template>

<script>
import Welcome from "~/components/Welcome";
import Hero from "~/components/Hero";
import Members from "~/components/Members";
export default {
  components: {
    evrlWelcome: Welcome,
    evrlHero: Hero,
    evrlMembers: Members
  },
  metaInfo() {
    return {
      title: "Welcome to the Everlasting FC!",
      meta: [
        {
          name: "description",
          content:
            "A site about the Everlasting Free Company in Final Fantasy XIV - Aether - Sargatanas"
        },
        { property: "og:title", content: "Welcome to the Everlasting FC!" },
        { property: "og:url", content: `https://everlastingfc.now.sh/` },
        {
          property: "og:image",
          content: `https://everlastingfc.now.sh/assets/static/emblem.1219de4.13c1af3fafa99436d14d4c2a743fbd6d.png`
        },
        {
          property: "og:description",
          content:
            "A site about the Everlasting Free Company in Final Fantasy XIV - Aether - Sargatanas"
        }
      ],
      link: [{ rel: "canonical", href: `https://everlastingfc.now.sh/` }]
    };
  }
};
</script>
