<template>
  <section class="intro" :class="`intro--${compClass}`">
    <h2 :id="introTitleID" class="intro__title">{{introTitle}}</h2>
    <div class="intro__msg">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    introTitle: {
      type: String,
      required: true
    },
    introTitleID: {
      type: String
    },
    compClass: {
      type: String
    }
  }
};
</script>

<style scoped>
.intro--text-white h1,
.intro--text-white h2,
.intro--text-white h3,
.intro--text-white h4,
.intro--text-white h5,
.intro--text-white h6 {
  color: var(--white);
}
.intro__msg {
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
}
</style>