<template>
  <div class="icon-list">
    <div class="icon-list__item" v-for="item in list" :key="item.Name">
      <g-image
        class="icon-list__icon"
        :src="require('!!assets-loader!~/images/' + iconDirectory + (lowercase(item.Name)) +'.png')"
        width="32"
      />
      <span class="icon-list__name">{{item.Name}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      required: true,
      type: Array
    },
    iconDirectory: {
      required: true,
      type: String
    }
  },
  methods: {
    lowercase(val) {
      const newVal = val.split(" ").join("-");
      return newVal.toLowerCase();
    }
  }
};
</script>

<style scoped>
.icon-list {
  margin: 1rem 0;
}
.icon-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.icon-list__item:last-child {
  border: 0;
}
.icon-list__icon {
  margin-right: 0.5rem;
}
</style>