<template>
  <section class="section" :class="`section--${compClass}`">
    <h3 class="section__title">{{sectionTitle}}</h3>
    <div class="section__msg">
      <slot />
    </div>
    <!-- <slot v-slot:additionalInfo /> -->
  </section>
</template>

<script>
export default {
  props: {
    sectionTitle: {
      type: String,
      required: true
    },
    compClass: {
      type: String
    }
  }
};
</script>

<style scoped>
.section--text-white h1,
.section--text-white h2,
.section--text-white h3,
.section--text-white h4,
.section--text-white h5,
.section--text-white h6 {
  color: var(--white);
}
</style>