<template>
  <footer class="ftr">
    <div class="ftr__everlasting"><span class="ftr__year">{{ getYear }} </span> Everlasting</div>
    <div class="ftr__disclaimer">All FF14 content &copy; Square Enix. </div>
    <div class="ftr__auracle">Made with <svg class="ftr__heart" viewBox="0 0 32 29.6" aria-labelledby="title"><title id="title" lang="en">Heart</title><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/></svg>  by Auracle</div>




  </footer>
</template>

<script>
export default {
  computed: {
    getYear() {
      const date = new Date();
      return date.getFullYear();
    }
  }

}
</script>


<style scoped>
.ftr {
  padding: 1rem;
  font-size: .75rem;
  text-align: center;
  background: var(--dark2);
  color: var(--mid2);
}
.ftr__auracle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ftr__heart {
  height:12px;
  fill: var(--mid2);
  margin: 0 .25rem;
}

</style>
