<template>
  <header class="hero">
    <div class="hero__content">
      <h1 class="hero__name">{{ fc.Name }}</h1>
      <p class="hero__greeting">{{ fc.Estate.Greeting }} &lt;{{fc.Tag }}&gt;</p>
    </div>
  </header>
</template>

<static-query>
query {
  fc:allFc {
    edges {
      node {
        fcInfo {
          Estate {
            Greeting
          }
          Name
          Tag
        }
      }
    }
  }
}
</static-query>

<script>
export default {
  computed: {
    fc() {
      return this.$static.fc.edges[0].node.fcInfo;
    }
  }
};
</script>

<style scoped>
.hero {
  position: relative;
  min-height: 400px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  clip-path: polygon(0 0, 100% 0, 100% calc(90% - 4vw), 0% 100%);
  background: var(--dark2);
}
.hero::before {
  content: "";
  width: 100%;
  display: block;
  padding-top: calc((781 / 1920) * 100%);
  grid-column: 1/ -1;
  grid-row: 1;
  order: 1;
  background: var(--primary);
  background: linear-gradient(
      to right,
      var(--red1),
      var(--primary),
      var(--primary)
    ),
    var(--primary);
}
.hero::after {
  grid-column: 1/ -1;
  content: "";
  order: 2;
  display: block;
  background: url(../images/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% calc(90% - 8vw), 0% 100%);
}
.hero__content {
  grid-column: 1/ -1;
  grid-row: 1;
  padding: 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  display: grid;
  align-content: center;
  justify-content: center;
  padding-bottom: 5vw;
  order: 3;
  z-index: 3;
  clip-path: polygon(0 0, 100% 0, 100% calc(90% - 8vw), 0% 100%);
  position: relative;
}
.hero__name {
  color: var(--white);
  animation-name: fade;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.hero__greeting {
  letter-spacing: 0.2rem;
  font-size: calc(1rem + 0.5vw);
  animation-name: fade;
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
</style>