<template>
  <!-- <t class="jobs-wrap">
    <h2 class="jobs-title" v-if="jobTitle">{{ jobTitle }}</h2> -->
    
    <section 
      class="jobs" 
      :class="customClass ? 'jobs--' + customClass : ''"
    >
      <article 
        v-for="(item, name, index) in sortClasses2"
        :key="index"
      >
        <h3 class="jobs__title">
          <g-image 
            class="jobs-list__icon" 
            :alt="name" 
            :src="require('!!assets-loader!~/images/char/icon-' + name +'.png')" 
          />
          {{ name | removeUnderscores }}
        </h3>
        <ul class="jobs-list" :class="'jobs-list--'+name">
          {{ item }}
          <li 
            class="jobs-list__item"
            v-for="(job, index) in item"
            :key="index"
          >
            <div class="jobs-list__icon-wrap">
              <g-image class="jobs-list__icon" :alt="job.Name" src="~/favicon.png" width="24" />
              <!-- <g-image 
                class="jobs-list__icon" 
                :alt="job.Name" 
                :src="require('!!assets-loader!~/images/jobs/' + job.Name+'.png')" width="96" 
              /> -->
            </div>
            <div class="jobs-list__info">
              <div class="jobs-list__name">{{job.Name}}</div>
              <div class="jobs-list__lvl">Level: {{job.Level}}</div>
              <div class="jobs-list__exp">{{job.ExpLevel}} / {{job.ExpLevelMax}}</div>
            </div>
            
            
          </li>
        </ul>
      </article>
    </section>

  <!-- </div> -->
</template>

<script>
export default {
  props: {
    customClass: String,
    jobData: Array,
    jobIds: Array,
    jobTitle: String
  },
  data() {
    return {
      jobs:{},

    }
  },
  computed: {
    sortClasses2() {
      const cool = {}
      for( const charClass of this.jobIds ) {
        Object.entries(charClass).forEach(([job, classIds]) => {
          const currentArr = []
          classIds.map(x => {
            
            const filteredClass = this.jobData.filter(y => y.Class.ID === x)
            
            currentArr.push(...filteredClass)
          })
          cool[job] = currentArr
        })

      }
      // console.log(this.jobIds)
      // console.log('computed is:')
      // console.log(cool)
      return cool
    },
  },
  mounted() {
    // this.sortClasses(this.classIds);
    // this.sortClasses2;
    // this.$nextTick(function () {
    //   this.sortClasses(this.classIds);
    // })
    
  },
  filters: {
    removeUnderscores: function (value) {
      if (!value) return ''
      value = value.replace(/_/g, ' ');
      return value
    }
  }
}
</script>

<style scoped>
  .jobs-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  .jobs-title {
    grid-column: span 3;
  }
  .jobs-list {
    padding: 1rem;
    background: var(--light1);
    border-radius: 7px;
  }
  .jobs-list__item {
    list-style: none;
    border-bottom: 1px solid var(--light3);
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto auto;
  }
  .jobs__title {
    text-transform: capitalize;
  }
  .jobs-list__icon-wrap {
    grid-row: span 2;
  }

</style>