<template>
  <article class="home-members">
    <base-intro class="members-intro" :introTitle="`The Crew`" introTitleID="members">
      <p>We're a growing free company with {{ fc.ActiveMemberCount }} members and counting!</p>
    </base-intro>

    <div class="fc-members">
      <div class="fc-members__center">
        <div class="fc-members__primary">
          <member-list customClass="master" rank="Master" class="fc-members__master" />
          <member-list customClass="vice-leader" rank="Vice Leader" class="fc-members__vice" />
          <member-list customClass="advisor" rank="Advisor" class="fc-members__advisor" />
        </div>
      </div>

      <member-list customClass="senior-officer" rank="Senior Officer" class="fc-members__senior" />
      <member-list customClass="officer" rank="Officer" class="fc-members__officer" />
      <member-list customClass="member" rank="Member" class="fc-members__member" />
      <member-list customClass="trial" rank="Trial" class="fc-members__trial" />
    </div>
  </article>
</template>

<script>
import BaseIntro from "~/components/base/BaseIntro.vue";
import MemberList from "~/components/MemberList";
export default {
  components: {
    MemberList,
    BaseIntro
  },
  computed: {
    fc() {
      return this.$static.fc.edges[0].node.fcInfo;
    }
  }
};
</script>

<static-query>
query {
  fc:allFc {
    edges {
      node {
        fcInfo {
          ActiveMemberCount
        }
      }
    }
  }
}
</static-query>



<style scoped>
/*** General
******************************* */
.home-members {
  padding: 3rem 1rem 3rem;
  background: var(--light1);
  background: linear-gradient(
    to bottom,
    var(--light1),
    var(--light2),
    var(--light1),
    var(--light2),
    var(--white)
  );
  position: relative;
}

/*** Intro
******************************* */
.members-intro {
  text-align: center;
  margin-bottom: 3rem;
}
.members-intro,
.fc-members {
  position: relative;
}

@media screen and (min-width: 992px) {
  /*** General
  ******************************* */
  .home-members {
    padding: 3rem 2rem 0rem;
    position: relative;
  }
  .home-members::before {
    content: "";
    width: 100vw;
    height: 120vh;
    border-radius: 6rem;
    background: linear-gradient(
      to bottom right,
      var(--light1) 20%,
      var(--light2),
      var(--light3),
      var(--white)
    );
    opacity: 0.3;
    display: block;
    position: absolute;
    top: -20vh;
    left: -20vw;
    transform: rotate(25deg);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
  }

  /*** FC Members
  ******************************* */
  .fc-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto max-content auto;
    grid-template-areas:
      "senior primary officer"
      "member primary trial";
    grid-gap: 0 3rem;
    grid-auto-flow: dense;
  }
  .fc-members__center {
    grid-area: primary;
    text-align: center;
    background: var(--white);
    box-shadow: 0 0 45px var(--light3);
    position: relative;
  }
  .fc-members__primary::before {
    content: "";
    display: block;
    width: calc(100% + 3rem);
    left: -1.5rem;
    top: 1rem;
    position: absolute;
    z-index: -3;
    border-top: 20vh solid var(--primary);
    border-left: solid transparent 25px;
    border-right: solid transparent 25px;
  }
  .fc-members__primary::after {
    content: "";
    display: block;
    width: calc(100% + 5rem);
    left: -2.5rem;
    top: 2rem;
    position: absolute;
    z-index: -3;
    border-top: 20vh solid var(--primary);
    border-left: solid transparent 55px;
    border-right: solid transparent 55px;
    opacity: 0.5;
  }
  .fc-members__primary {
    position: sticky;
    top: 0;
    z-index: 9;
    background: var(--white);
    width: 100%;
  }
  .fc-members__primary .members {
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--white);
  }

  .fc-members__senior {
    grid-area: senior;
  }
  .fc-members__member {
    grid-area: member;
  }
  .fc-members__officer {
    grid-area: officer;
  }
  .fc-members__trial {
    grid-area: trial;
  }
  .members-list--vice-leader {
    display: flex;
  }
}
</style>