<template>
  <section class="members" :class="customClass ? 'members--' + customClass : ''">
    <h3 class="members__title">{{ rank }}s</h3>
    <div class="members-list" :class="customClass ? 'members-list--' + customClass : ''">
      <figure class="member" v-for="char in filterByRank(rank)" :key="char.node.member.ID">
        <div class="member__avatar">
          <g-link class="member__link" :to="'/char/' + char.node.member.ID">
            <img
              loading="lazy"
              :src="`${char.node.member.Avatar}`"
              aria-hidden="true"
              class="member__avatar-img"
              width="96"
              height="96"
            />
          </g-link>
        </div>
        <figcaption class="member__name">
          <g-link class="member__link-text" :to="'/char/' + char.node.member.ID">
            <span v-html="$options.filters.breakName(char.node.member.Name)"></span>
          </g-link>
        </figcaption>
      </figure>
    </div>
  </section>
</template>

<static-query>
query {
  members: allMembers {
    edges {
      node {
        member {
          ID
          Name
          Rank
          RankIcon
          Avatar          
        }
      }
    }
  }
}
</static-query>

<script>
export default {
  props: {
    customClass: String,
    rank: String
  },
  data() {
    return {
      cloudinaryUrl:
        "https://res.cloudinary.com/chrisace/image/fetch/"
        // "https://res.cloudinary.com/chrisace/image/upload/everlasting/avatars/"
    };
  },
  methods: {
    filterByRank(val) {
      const rankedMembers = [];
      for (const boo of this.$static.members.edges) {
        if (boo.node.member.Rank === val) {
          rankedMembers.push(boo);
        }
      }
      return rankedMembers;
    },
    getFileName(url) {
      const fileName = url.split("https://img2.finalfantasyxiv.com/f/");
      return fileName[1];
    }
  },
  filters: {
    breakName(value) {
      if (!value) return "";
      // return value.split(" ").join("<br />");
      return (
        "<span>" + value.split(" ").join("</span><br /><strong>") + "</strong>"
      );
    },
    removeEnd(value) {
      if (!value) return "";
      const [newUrl, cache] = value.split("?");
      return newUrl;
    }
  }
};
</script>

<style scoped>
/*** General
******************************* */
.members {
  padding: 1rem 0 0;
}

/*** Member Listing
******************************* */
.members-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 0.5rem;
}

/*** Member Avatar
******************************* */
.member__avatar {
  position: relative;
  transition: 0.3s ease;
}
.member__avatar::after {
  content: "";
  display: block;
  height: 3px;
  background: var(--mid1);
  width: calc(100% - 2rem);
  border-radius: 50%;
  box-shadow: 0 0 5px 5px var(--mid1);
  position: absolute;
  bottom: 8px;
  right: 8px;
  opacity: 0.5;
  transition: 0.3s ease;
}
.member__avatar:hover::after {
  opacity: 1;
}
.member__avatar-img {
  border-radius: 50%;
  transform: rotate(-15deg);
  transition: 0.3s ease;
}
.member__avatar-img:hover {
  transform: rotate(-5deg);
}
.member__link {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: var(--light1);
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
  position: relative;
  z-index: 2;
}

/*** Member Name
******************************* */
.member__name {
  z-index: 2;
  text-align: center;
  line-height: 1;
  transition: 0.2s ease;
  padding: 0.25rem 0;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
  font-size: 0.85rem;
}
.member__link-text {
  color: var(--dark2);
  transition: 0.1s ease;
}
.member:hover .member__link-text {
  color: var(--white);
}
.member:hover .member__name {
  background: var(--primary);
}

@media screen and (min-width: 992px) {
  /*** Member Listing
  ******************************* */
  .members-list {
    display: flex;
    flex-wrap: wrap;
  }

  /*** Member Positioning
  ******************************* */
  .member {
    margin: 0.5rem;
  }
  .members-list--master,
  .members-list--vice-leader,
  .members-list--advisor {
    justify-content: center;
  }
  .members-list--senior-officer,
  .members-list--member {
    justify-content: flex-end;
  }
  .members--senior-officer,
  .members--member {
    text-align: right;
  }
  .members--vice-leader h3,
  .members--advisor h3 {
    margin-top: 0;
  }
}
</style>