<template>
  <nav class="evrl-nav">
    <g-link class="evrl-nav__link" to="/">Home </g-link>
    <g-link class="evrl-nav__link" to="/#members"> Members</g-link>
  </nav>
</template>

<script>
export default {

}
</script>

<style scoped>
.evrl-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  background: var(--dark3);
  
}
.evrl-nav__link {
  text-align: center;
  padding:.5rem;
  color: var(--white);
  border-top: 3px solid var(--primary);
  text-transform: uppercase;
  font-size: .75rem;
  transition: 0.3s ease;
}
.evrl-nav__link:hover {
  background: var(--primary);
}

@media screen and (min-width: 992px) {
  .evrl-nav__link {
    padding: .5rem .5rem 1rem;

  }
}

</style>