<template>
  <article class="welcome">
    <figure class="welcome-emblem">
      <g-image src="~/images/fc/emblem.png" :alt="fc.Name" class="welcome-emblem__img" width="128" />
    </figure>

    <welcome-intro
      class="welcome-sect welcome-sect--intro"
      compClass="text-white"
      :introTitle="`We’re a rank ${fc.Rank} Free Company`"
      introTitleID="welcome"
    >
      <p>{{ fc.Slogan }}</p>
    </welcome-intro>

    <welcome-section
      class="welcome-sect welcome-sect--find"
      compClass="text-white"
      :sectionTitle="`Location`"
    >
      <p>
        Find us at the
        <strong>{{ fc.Estate.Name }}</strong>:
      </p>
      <p>{{ fc.Estate.Plot }} located in {{ fc.Server }} ({{ fc.DC }}).</p>
      <g-image
        class="img img--rounded"
        src="~/images/welcome/fc-house.jpg"
        :alt="fc.Name + 'house'"
        width="300"
      />
    </welcome-section>

    <welcome-section
      class="welcome-recruit welcome-sect"
      compClass="text-white"
      :sectionTitle="`Recruitment`"
    >
      <p class="welcome-recruit__status">
        Recruitment is currently
        <span
          class="welcome-recruitment__status-val"
          :class="'welcome-recruitment__status-val--'+fc.Recruitment"
        >{{fc.Recruitment }}</span>.
      </p>
      <div v-if="fc.Recruitment === 'Open'">
        <p>Message any of us in game for an invite or apply to our FC in game!</p>
        <template v-if="fc.Seeking">
          <base-icon-list :list="fc.Seeking" iconDirectory="welcome/recruitment-" />
        </template>
      </div>
      <div v-else>
        <p>Sorry, we are not looking to recruit at this time.</p>
      </div>
    </welcome-section>

    <welcome-section
      class="welcome-sect welcome-sect--Focus"
      compClass="text-white"
      :sectionTitle="`Focus`"
    >
      <p>We welcome anyone who wants to join.</p>
      <p>Don't hesitate to chat or ask any questions in the FC Chat!</p>
      <base-icon-list :list="fc.Focus" iconDirectory="welcome/focus-" />
    </welcome-section>

    <welcome-section
      class="welcome-sect welcome-sect--discord"
      compClass="text-white"
      :sectionTitle="`We're on Discord`"
    >
      <p>Hop on and meet some of us.</p>
      <p>Warning: there's lots of memes being posted!</p>
      <a class="btn btn--discord" :href="discordLink">{{ discordLink}}</a>
    </welcome-section>
  </article>
</template>

<static-query>
query {
  fc:allFc {
    edges {
      node {
        fcInfo {
          Recruitment 
          Active
          ActiveMemberCount
          DC
          Estate {
            Greeting
            Name
            Plot
          }
          Formed 
          GrandCompany 
          Name
          Rank
          Ranking {
            Monthly
            Weekly
          }
          Server
          Slogan
          Tag
          Focus {
            Icon
            Name
            Status
          }
          Seeking {
            Icon
            Name
            Status
            
          }
        }
      }
    }
  }

}
</static-query>

<script>
import BaseIntro from "~/components/base/BaseIntro.vue";
import BaseSection from "~/components/base/BaseSection.vue";
import BaseIconList from "~/components/base/BaseIconList.vue";
export default {
  components: {
    welcomeIntro: BaseIntro,
    welcomeSection: BaseSection,
    BaseIconList
  },
  data() {
    return {
      discordLink: "https://discord.gg/Y5kXCNr"
    };
  },
  computed: {
    fc() {
      return this.$static.fc.edges[0].node.fcInfo;
    }
  }
};
</script>

<style scoped>
/*** General
******************************* */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
.welcome {
  padding: 0rem 1rem 2rem;
  background: var(--dark2);
  background: linear-gradient(
    to bottom right,
    var(--dark2),
    var(--dark2),
    var(--dark3) 80%,
    var(--dark2) 87%,
    var(--dark2) 88%
  );
  color: var(--light3);
  position: relative;
  z-index: 6;
  padding-bottom: calc(50px + 5vw);
}
.welcome::after {
  position: absolute;
  content: " ";
  display: block;
  left: -1rem;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-width: calc(50px + 5vw) 0 0 99.9vw;
  border-color: transparent transparent transparent var(--light1);
}
.welcome-sect {
  margin-bottom: 1rem;
  animation-name: fade;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*** Emblem
******************************* */
.welcome-emblem {
  margin: 0 auto;
  text-align: center;
  border: 15px solid #404040;
  line-height: 0;
  border-radius: 50%;
}

/*** Intro
******************************* */

.welcome-sect--intro {
  text-align: center;
}

/*** Recruitment
******************************* */
.welcome-recruitment__status-val--Open {
  color: var(--alt1);
}

/*** Discord
******************************* */
.btn--discord {
  background: #7289da;
}
.btn--discord:hover {
  background: rgb(85, 104, 173);
}

@media screen and (min-width: 992px) {
  /*** General
  ******************************* */
  .welcome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  /*** Intro / Emblem
  ******************************* */
  .welcome-sect--intro,
  .welcome-emblem {
    grid-column: 1 / -1;
  }
  .welcome-emblem {
    margin-top: -8rem;
  }
}
</style>