<template>
  <div class="layout">
    
    <slot/>
    <evrl-ftr />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Ftr from '~/components/Ftr.vue'
export default {
  components: {
    evrlFtr: Ftr
  }
}
</script>

<style>



</style>
